doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title KongDeck
        script(src='/js/twitter.js')
    
    body
        input(id="data", type="hidden", name="data" value=data)